.fields {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px;
}

.color-btn {
    border: none;
    border-radius: 15px;
}


.link{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}