.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 1.2rem;
}

.fields {
  width: 70%;
  padding: 10px 12px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.fields:focus {
  border-color: #6f42c1;
  box-shadow: 0 0 0 3px rgba(111, 66, 193, 0.2);
}

.color-btn {
  border: none;
  border-radius: 15px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.banner {
  width: 100%;
  height: 40vh;
  background: url('https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tabs a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  padding-bottom: 6px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.tabs a:hover {
  border-bottom: 3px solid #aaa;
}

.tabs a.active {
  border-bottom: 3px solid #007bff;
  color: #007bff;
}


@media screen and (max-width: 991px) {
  .responsive-name {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .responsive-marginTop-767 {
    margin-top: 80px !important;
  }
}

@media screen and (max-width: 1600px) {
  .display-none-peopleNearYou-1600 {
    display: none !important;
  }
}

@media screen and (max-width: 1300px) {
  .display-none-chatSidebar-1300 {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .responsive-navigation-768 {
    display: block !important;
    order: 2;
    margin-top: 10px;
  }
}

@media screen and (max-width: 395px) {
  .responsive-logo-395 {
    width: 134px !important;
  }
}

@media screen and (max-width: 979px) {
  .display-none-sidebar-979 {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .marginTop-767 {
    margin-top: 60px !important;
  }
}


/* Responsive Navigation Tabs  */


@media (max-width: 768px) {


  .nav-tabs-responsive {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 10px !important;
  }


  .nav-tabs-responsive>div:last-child {
    margin-left: 0 !important;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }


  .nav-tabs-responsive a {
    font-size: 1rem !important;
    gap: 6px !important;
  }
}


@media (max-width: 1024px) {
  .nav-tabs-responsive {
    flex-wrap: wrap !important;
    gap: 12px !important;
  }
}